<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <title>네돈네산</title>
<script src="https://kit.fontawesome.com/3ea8ba5d9e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="id">
      <h1>네돈네산</h1>
        <div class="search">
            <input id="searchVal" type="text" class="searchTerm" placeholder="제품명을 입력해주세요.">
            <button id="search" type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
</body>
<script src="{{STATIC_URL}}common.js"></script>
</html>