<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{STATIC_URL}}css/searchstyle.css">
    <title>Document</title>
    
</head>
<body>
    <div class="all">
        <div class="search-bar">
            <p class="logo" onclick="location.href='/';">네돈네산</p>
            <input id="searchVal" class="search-box" type="text" placeholder="제품명을 입력해주세요."/>
            <button id="search" class="search-icon" type="submit"><img src="{{STATIC_URL}}img/search_icon.png" alt=""></button>
        </div>    
        <div class="container">
            <div class="searchResult">
                <div class="tab">
                    <button id="realBtn" onclick="realBtnClick();">네돈네산 리뷰</button>
                    <button id="adBtn" onclick="adBtnClick();">광고 리뷰</button>
                </div>
                <div class="chart-index">
                    <div id=positive></div>
                    <div>긍정</div>
                    <div id=negative></div>
                    <div>부정</div>
                </div>
                <!-- 진짜 후기 내용 -->
                <div id="realReview">
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                        <div class="chart"><canvas id="canvas1" width=145 height=145></canvas></div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                        <div class="chart"><canvas id="canvas2" width=145 height=145></canvas></div>
                        
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                        <div class="chart"><canvas id="canvas3" width=145 height=145></canvas></div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 가짜 후기 내용 -->
                <div id="adReview" style="display: none;">
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/navericon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                        <canvas id="canvas" width=150 height=150></canvas>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="site_logo" src="{{STATIC_URL}}img/googleicon.png" width="40" height="40" alt="Google logo">
                        <div class="review">
                            <div class="title">
                                <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                                <br>
                                <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                                </a>
                            </div>
                            <div class="summary">
                                <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{STATIC_URL}}common.js"></script>
<script>
    let realBtn = document.getElementById("realBtn");
    let adBtn = document.getElementById("adBtn"); 
    let realRv = document.getElementById("realReview");
    let adRv = document.getElementById("adReview");
    document.getElementById("searchVal").value = '{{searchVal}}'
    function realBtnClick() {
        realBtn.style.background = "#30343B";
        realBtn.style.color = "white";
        realBtn.style.border = 0;
        adBtn.style.background = "#fff";
        adBtn.style.color = "#30343B";
        adBtn.style.border = "1px solid";
        realRv.style.display = "";
        adRv.style.display = "none";
    };
    function adBtnClick(){
        realBtn.style.background = "#fff";
        realBtn.style.color = "#30343B";
        realBtn.style.border = "1px solid";
        adBtn.style.background = "#30343B";
        adBtn.style.color = "white";
        adBtn.style.border = 0;
        realRv.style.display = "none";
        adRv.style.display = "";
    };

    var id=1;
    var box=document.getElementsByClassName("box");
    for(var i=0;i <box.length;i++){
        var canvas=document.getElementById("canvas"+id);
        var ctx=canvas.getContext("2d");
        var colors=['#30343B','#FFD368'];
        var values=[25,75]; //긍부정비율 넘겨줄때 넣으면 될듯
        var labels=['Positive','Negative'];
        Chart(72.5,72.5,45,35,values,colors,labels);
        id++;
    }
    
    function Chart(cx,cy,radius,arcwidth,values,colors,labels){
        var tot=0;
        var accum=0;
        var PI=Math.PI;
        var PI2=PI*2;
        var offset=-PI/2;
        ctx.lineWidth=arcwidth;
        for(var i=0;i<values.length;i++){tot+=values[i];}
        for(var i=0;i<values.length;i++){
            ctx.beginPath();
            ctx.arc(cx,cy,radius,
                offset+PI2*(accum/tot),
                offset+PI2*((accum+values[i])/tot)
            );
            ctx.strokeStyle=colors[i];
            ctx.stroke();
            accum+=values[i];
        }
    }
</script>
</html>