<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/searchstyle.css">
    <title>Document</title>
    
</head>
<body>
    <div class="search-bar">
        <p class="logo">네돈네산</p>
        <input class="search-box" type="text" placeholder="제품명을 입력해주세요."/>
        <button class="search-icon" type="submit"><img src="search_icon.png" alt=""></button>
    </div>    
    <div class="container">
        <div class="tab">
            <button id="real-button">네돈네산 리뷰</button>
            <button id="ad-button">광고 리뷰</button>
        </div>
        <!-- 진짜 후기 내용 -->
        <div name="real-review">
            <div class="box">
                <img class="site_logo" src="./googleicon.png" width="40" height="40" alt="Google logo">
                <div class="review">
                    <div class="title">
                        <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                        <br>
                        <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                        </a>
                    </div>
                    <div class="summary">
                        <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="site_logo" src="./googleicon.png" width="40" height="40" alt="Google logo">
                <div class="review">
                    <div class="title">
                        <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                        <br>
                        <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                        </a>
                    </div>
                    <div class="summary">
                        <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="site_logo" src="./googleicon.png" width="40" height="40" alt="Google logo">
                <div class="review">
                    <div class="title">
                        <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                        <br>
                        <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                        </a>
                    </div>
                    <div class="summary">
                        <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 가짜 후기 내용 -->
        <div name="ad-review">
            <div class="box">
                <img class="site_logo" src="https://m.caroom.co.kr/img/login/naver.png" width="40" height="40" alt="Google logo">
                <div class="review">
                    <div class="title">
                        <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                        <br>
                        <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                        </a>
                    </div>
                    <div class="summary">
                        <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="site_logo" src="./googleicon.png" width="40" height="40" alt="Google logo">
                <div class="review">
                    <div class="title">
                        <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                        <br>
                        <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                        </a>
                    </div>
                    <div class="summary">
                        <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="site_logo" src="./googleicon.png" width="40" height="40" alt="Google logo">
                <div class="review">
                    <div class="title">
                        <a href="https://www.google.com" target="_blank" id="review_title">라네즈 크림 어쩌고</a>
                        <br>
                        <a href="https://www.google.com" target="_blank">https://www.google.com</a>
                        </a>
                    </div>
                    <div class="summary">
                        <a>콧물 스킨 ㄴㄴ<br> 생각보다 좋아요,<br> 진성후기임aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>