[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/env/bin/uwsgi -i /srv/2021_SearchEngine_Project/searchEngine/.config/uwsgi/searchEngine.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target