@font-face {
  src: url("../fonts/YoonMingukB.ttf");
  font-family: "Minguk-Bold";
}
@font-face {
  src: url("../fonts/YoonMingukR.ttf");
  font-family: "Minguk-Regular";
}

.linkUrl:link {
  color:black;
}
a:link {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/* 
a:visited{
  color: 
} */

body {
  margin: 0px;
  padding: 0px;
}

.all{
  background: #eeeeee;
  position: relative;
  top: 9.4vh;
  height: 86.6vh;
  min-height: 550px;
  padding-bottom: 4vh;
}
.search-bar {
  display: flex;
  /* margin-bottom: 10px; */
  position: absolute;
  top: -15px;
}
/* Common styles */
.logo {
  white-space: nowrap;
  /* margin: 70px 0 0 4vw; * 위 오른쪽 아래 왼쪽* */
  margin: 0 0 0 4vw;
  font-size: 30px;
  font-family: "Minguk-Bold";
  color: #30343b;
}
.search-box {
  width: 40vw;
  height: 45px;
  padding: 0 0.5em 0 1.5em;
  line-height: 30px;
  border-radius: 12px 0 0 12px;
  border: 1px solid;
  border-color: rgba(112, 112, 112, 0.75);
  box-sizing: border-box;
  /* margin: 65px 0 0 2.5vw; */
  font-size: 17px;
  margin: 0 0 0 2.5vw;
  font-family: "Minguk-Regular";
  color: #707070;
}
.search-icon {
  /* margin-top: 65px; */
  background: #fff;
  border: 1px solid;
  border-color: rgba(112, 112, 112, 0.75);
  border-radius: 0 12px 12px 0;
  flex-shrink: 0;
}
.search-icon img {
  width: 30px;
}
.container {
  /* background: #eeeeee;
    margin-top: 65px;
    margin-left: 65px; */
  /* background: #eeeeee; */
  padding-top: 55px;
}
.searchResult {
  position: relative;
  top: 15px;
  height: 73vh;
  min-height: 450px;
  background: #fff;
  margin : 0 2.3vw 0 2.3vw;
}
@media all and (min-width:1440px){
  .searchResult {
    position: relative;
    top: 15px;
    min-height: 73vh;
    height: 100%;
    background: #fff;
    margin : 0 2.3vw 0 2.3vw;
    width: 75vw;
    display: inline-block;
    box-sizing: border-box;
  }
}
@media all and (max-width:1439px){
  .adBox_img{
    display: none !important;
  }
  
  .adBox_content{
    display: none !important;
  }
}
.adBox_img{
  /* position: fixed; */
  position: absolute;
  background: #fff;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  line-height: 175px;
}
.adBox1_img{
  width: 250px;
  height: 180px;
  top: 70px;
}
.adBox2_img{
  width: 250px;
  height: 180px;
  top: 330px;
}

.adBox_content{
  padding-left: 10px;
  /* position: fixed; */
  position: absolute;
  width: 250px;
  height: 50px;
  display: inline-block;
  box-sizing: border-box;
}
.adBox1_content{
  /* top: 350px; */
  top: 260px
}
.adBox2_content{
  /* top: 610px; */
  top: 520px;
}
.box {
  /* box 클래스를 플렉스박스로 전환하는 코드 */
  display: flex;
  /* align-items 는 여기서 y축 정렬을 다룸 : center 로 설정; */
  align-items: center;
  /* background: #fff; */
  /* margin-left: 65px; */
  margin-right: 50px;
  padding: 20px 20px 20px 10px;
  font-family: "Minguk-Bold";
  border-bottom: 1.5px solid;
  border-color: #eeeeee;
  line-height: 1.5em;
}
.site_logo {
  /* 여기서 마진은 제거하였음. */
  margin-left: 1%;
  float: left;
  vertical-align: middle;
}

.review {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: middle;
}
#review_title {
  font-size: 20px;
}
.title {
  font-size: 15px;
}


.summary {
  font-size: 15px;
}

.tab {
  /* background: #eeeeee; */
  display: flex;
  margin-left: 25px;
  font-family: "Minguk-Bold";
  position: absolute;
  top: -15px;
  min-width: 250px; 
  z-index:2
}
.chart-index{
  display: flex;
  margin-left: 25px;
  font-family: "Minguk-Bold";
  position: absolute;
  right : 115px;
  top: -10px;
  min-width: 250px;
  z-index:2
}

#realBtn{
  background:#30343B;
  border: 0;
  border-color: #30343b;
  font-family: "Minguk-Bold";
  color: white;
  padding: 1px 20px 1px 20px;
  height: 30px;
  border-radius: 5px;
  width: 150px;
  /* width: 8.3vw; */
  min-width: 170px;
  margin-right: 5px;
}
#adBtn{
  background: #fff;
  border: 1px solid;
  border-color: #30343b;
  font-family: "Minguk-Bold";
  color: #30343B;
  padding: 1px 20px 1px 20px;
  height: 30px;
  border-radius: 5px;
  /* width: 150px; */
  width: 8.3vw;
  min-width: 170px;
}

.links{
  padding: 30px;
  height: 67vh;
  min-height: 390px;
  overflow-y: auto;
}

#realReview {
  /* background: #eeeeee; */
  height: 100%;
  min-height: 390px;
  padding: 0 0 0 40px;
  overflow: scroll;
}
#adReview {
  /* background: #eeeeee; */
  height: 100%;
  min-height: 390px;
  padding: 0 0 0 40px;
  overflow: scroll;
}

.chart{
  display: flex;
  float:right;
  vertical-align: middle;
  margin-left: auto;
}

#negative{
  width:20px;
  height:20px;
  float:right;
  background-color:  #30343B;
  margin-left: 20px;
  margin-right: 5px;
}
#positive{
  display: flex;
  width:20px;
  height:20px;
  float:right;
  background-color:  #FFD368;
  margin-left:auto;
  margin-right: 5px;
}


@media screen and (max-width: 780px) {
  .chart {
    display: none;
  }
  .chart-index{
    display: none;
  }
}

.page{
  font-family: "Minguk-Regular";
  position: absolute;
  left: 39.8vw;
  bottom : 2vh;
  transform: translate(-50%, -50%);
}
.page a{
  font-family: "Minguk-Regular";
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.page a:hover{
  color: blue;
}

@media (max-width: 1439px){
  .page{
    left: 50%;
  }
}

.progressbar-back{
  top: calc(9.4vh + 70px);
  position: fixed;
  height: 73vh;
  min-height: 450px;
  width: 75vw;
  margin: 0 2.3vw 0 2.3vw;
  z-index:1;
  background-color: rgba(256,256,256,0.92);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width:1439px){
  .progressbar-back{
    width: 95.4vw;
  }
}

.progress-content{
  width: 60%;
}

.progress-cmt{
  font-size: 20px;
  font-family: "Minguk-Bold";
  text-align: center;
  margin-bottom: 2px;
}

.progress-small-cmt{
  font-size: 11px;
  font-family: "Minguk-Bold";
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.progressbar{
  width: 100%;
  height: 15px;
  background-color: #30343b;
  margin-bottom: 7%;
  border-radius: 4.5px;
}

.progress{
  height: 100%;
  width: 0%;
  background-color: #FFD368;
  transition:  width 9s;
  border-radius: 4px;
}

