@font-face{
    src: url("../fonts/YoonMingukB.ttf");
    font-family: "YoonDokripManse";
}


body{
    background-color:#30343b;
}

.id{ /*wrap*/
    background-color:blue;
    position:absolute;
    width:40%;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}
.search{
    text-align:center;
    position:relative;
}
h1{
    font-family:"YoonDokripManse";
    color:white;
    font-size:60px;
    user-select:none;
    text-align:center;
    /*position:absolute;
    top:28%;
    left:50%;
    transform:translate(-50%, -50%);*/
}

.keyword{
    border:none;
    outline:none;
    padding:5px;
    width:30%;
    height:30px;
    font-family:"YoonDokripManse";
    font-size:15px;
    color:black;
    border-radius: 5px 0 0 5px;
    padding-left:10px;
    /*position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);*/
}

button.img-button{
    background-color:white;
    border:none;
    font-size:15px;
    cursor:pointer;
    height:40px;
    margin-left:-5px;
    margin-top:-1px;
    border-radius:0 5px 5px 0;
    /*position:absolute;
    top: 40%;
    left: 65%;
    transform:translate(-50%, -50%);*/
}
